ion-content{
  --keyboard-offset: 0 !important;
  --background: transparent;
  background-color: transparent;
}

/* Wrapper للمنتصف */
.center-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
}

/* البوكس */
.formLoginDiv{
  background: #ffffff;
  border-radius: 10px;
  padding: 15px 10px;
  width: 35%;
  max-width: 340px;
  min-width: 340px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.buttonDivData{
    margin: 10px;
	text-align: center;
}
.divBorderFooter{
    padding-top: 10px;
}
.selectButtonAdd{
    --background: #FF7901 !important;
	--background-activated:#FF7901 !important;
	--background-activated-opacity: #FF7901 !important;
	--color-activated: #ffffff !important;
	--ripple-color: #FF7901 !important;
	min-height: 30px;
	--color:#ffffff !important;
	--background-focused:#8496B0 !important;
	--background-hover:#8496B0 !important;
	--border-radius:50px;
    min-width: 120px
}
.divNumber{
	font-size: 16px;
    color: #6b7280;
    line-height: 20px;
    padding-top: 5px;
}
.divName{
     font-weight: 600;
    font-size: 18px;
    color: #214376;
    line-height: 20px;
    padding-bottom: 10px;

}